
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.icon {
  width: 24px;
  height: 24px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

thead{
  --tw-bg-opacity: 1;
    background-color: rgb(254 236 220 / var(--tw-bg-opacity)) /* #feecdc */;  
}
.mod{
  background-color: rgba(0, 128, 0, 0.808);
color: aliceblue;
  border-radius: 10px;
  padding: 0.5em;
}
.mod:hover{
background-color: rgb(1, 94, 1);
}
.cen{
  text-align: center;
}
tr{
  font-family: "Nunito", sans-serif;
    font-size: 1.8vh;
}
.elim{
  background-color: rgba(192, 3, 3, 0.829);
color: aliceblue;
  border-radius: 10px;
  padding: 0.5em;
}
.elim:hover{
  background-color: rgb(150, 0, 0);
}
.modalabierto{
  width: 50%;
  padding: 10px;
  border: 1px solid #a3880f;
  font-size: 2vh; 
}
.fondo{
  background-color: rgba(255, 227, 190, 0.1);
  text-align: center;
}
h2{
  font-family: "Lato", sans-serif;
  font-size: 3vh;
}
.bot{

  margin-right: 50px;
}
input:focus, textarea:focus{
  outline: none;
  /* border-color: #d11f1f; */
  box-shadow: 0 0 5px rgba(255, 118, 5, 0.5);
}
th{
  font-style: normal;
}