<div class="layout">
  <!-- Sección de Navegación -->
  <!-- <nav class="navbar">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav> -->
  <!-- <app-navigation></app-navigation> -->
   <!-- <app-header></app-header> -->

  <!-- Sección de Contenido Principal -->
  <div class="content">
    <!-- <router-outlet></router-outlet> -->
     <app-decisiones-form></app-decisiones-form>
  </div>

  <!-- Sección de Footer -->
  <!-- <footer class="footer">
    <p>&copy; 2024 SCA APP Website. Todos los derechos reservados.</p>
  </footer> -->
</div>
