
<div class="sm:mx-auto sm:w-full sm:max-w-sm">
</div>
  <div class="container p-4">
    <div class="row">
      <div class="con">
        <div class="card">
          <div class="card-body form">
            <form (submit)="addDecision( nombre_area, descripcion)" >
              <div class="form-group p-2">

                <div class="mb-3">
                  <label for="rotulo">Ingresar un código válido:</label>
                  <input
                  type="text"
                  name="rotulo"
                  id="rotulo"
                  placeholder="ABC_DEF"
                  pattern="^[A-Z]{3}_[A-Z]{3}$"
                  required
                  class="input-custom"
                  [(ngModel)]="rotuloValue"
                  #rotulo="ngModel"
                />
                <!-- <div *ngIf="rotulo.invalid && rotulo.touched" class="text-red-600 text-sm">
                  El formato debe ser "ABC_DEF".
                </div> -->
                </div>

                <div>
                  <label for="nombre_area" >Complete nombre del área:</label>
                  <input type="text" name="nombre_area" id="nombre_area" placeholder="Nombre" class="input-custom" required="" #nombre_area>
                </div>

                <div>
                  <label for="descripcion">Complete descripción:</label>
                  <textarea type="text" name="descripcion" id="descripcion" placeholder="Descripción del área creada" class="input-custom" required="" rows="4" #descripcion></textarea>
                </div>

                <div>
                  <button type="submit"  class="btn añade">
                    Añadir
                  </button>
                  <button type="submit"  class="btn cancela">
                    Cancelar
                  </button>
                </div>


              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
