
.form-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-header {
  margin-bottom: 20px;
}
.form-header img {
  margin-right: 10px;
}
.form-header h1 {
  font-size: 24px;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.form-group input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 118, 5, 0.5);
}
.form-group .checkbox {
  display: flex;
  align-items: center;
}
.form-group .checkbox input {
  margin-right: 10px;
}
.form-group .checkbox label {
  margin: 0;
}
.form-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
.form-button:hover {
  background-color: #0056b3;
}
.form-footer {
  margin-top: 15px;
  text-align: center;
}
.form-footer a {
  color: #007bff;
  text-decoration: none;
}
.form-footer a:hover {
  text-decoration: underline;
}


.btn {
  border-radius: 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 100%;
  margin: 5px;
  font-size: 2vh;
  color: aliceblue;
 }
.añade{
  background-color: rgba(0, 128, 0, 0.808);
  font-family: "Poppins", sans-serif;

}
.añade:hover{
  background-color: #20460f;

}
.cancela{
  background-color: rgba(192, 3, 3, 0.829);
  font-family: "Poppins", sans-serif;

}
.cancela:hover{
  background-color: #6b291a;

}

 .card-body{
background-color:#F2F2F2;
box-shadow: 0 0 5px rgba(2, 0, 0, 0.5);
border-radius: 10px;
 }

 .container{
  border-radius: 10px;
 }

.input-custom {
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  color: #111827;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.625rem;
  display: block;
  margin-bottom: 0.75rem;
  transition: border-color 0.2s, box-shadow 0.2s;

}
.input-custom::placeholder {
  color: #0000009d;
}

textarea:focus{
  box-shadow: 0 0 5px rgba(255, 174, 0, 0.493);
}

/* Estilos para tablets */
@media (max-width: 1024px) {
  .container {
    padding: 2rem;
  }

  .card {
    width: 90%;
    margin: auto;
  }

  .form-group input,
  .form-group textarea {
    font-size: 1rem;
  }

  .btn {
    font-size: 1.8vh;
  }
}

/* Estilos para móviles */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .card {
    width: 100%;
    margin: auto;
    box-shadow: none;
  }

  .form-group label {
    font-size: 0.9rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .btn {
    font-size: 1.6vh;
    padding: 0.6rem;
  }
}
