.bot {
  height: 49px;
  width: 50px;
}

.enviar {
  width: 100%;
  color: whitesmoke;
  height: 5vh;
  font-size: 2vh;
  border-radius: 10px;
  margin: 4px;
}

.yellow {
  --tw-bg-opacity: 1;
  background-color: rgb(227 160 8 / var(--tw-bg-opacity))
    /* #e3a008 */
  ;
}

.yellow:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(194 120 3 / var(--tw-bg-opacity))
    /* #c27803 */
  ;
}

.red {
  --tw-bg-opacity: 1;
  background-color: rgb(200 30 30 / var(--tw-bg-opacity))
    /* #c81e1e */
  ;
}

.red:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(155 28 28 / var(--tw-bg-opacity))
    /* #9b1c1c */
  ;
}

.grad {
  background-color: #d69b9b;
  width: 30%;
}

.grad:hover {
  background-image: radial-gradient(at 69.95430202902814% 33.86310423457377%, rgb(155, 82, 82) 0%, hsla(0, 32%, 8%, 0) 100%), radial-gradient(at 70.39424813011198% 35.49869294791379%, rgb(163, 120, 155) 0%, hsla(310.90909090909093, 100%, 87.05882352941177%, 0) 100%), radial-gradient(at 10.406783876016657% 29.669714678837387%, hsla(323.99999999999983, 2.0408163265306163%, 51.96078431372548%, 1) 0%, hsla(323.99999999999983, 2.0408163265306163%, 51.96078431372548%, 0) 100%), radial-gradient(at 45.23916471216345% 28.18693148026572%, rgb(145, 80, 80) 0%, hsla(0, 96.61016949152543%, 76.86274509803921%, 0) 100%), radial-gradient(at 79.36993304501685% 98.88190424646486%, hsla(310.90909090909093, 100%, 87.05882352941177%, 1) 0%, hsla(310.90909090909093, 100%, 87.05882352941177%, 0) 100%), radial-gradient(at 14.703887363427759% 35.559075609590465%, hsla(323.99999999999983, 2.0408163265306163%, 51.96078431372548%, 1) 0%, hsla(323.99999999999983, 2.0408163265306163%, 51.96078431372548%, 0) 100%), radial-gradient(at 56.94500940031742% 28.49361448904395%, hsla(0, 96.61016949152543%, 76.86274509803921%, 1) 0%, hsla(0, 96.61016949152543%, 76.86274509803921%, 0) 100%);

}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.contabla {
  width: 100%;
  margin-left: 15%;
}

.mod {
  inset: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity))
    /* #1f2937 */
  ;
  --tw-bg-opacity: 0.5;
  position: fixed;
}

.formmod {
  padding: 1rem
    /* 16px */
  ;
  border-radius: 0.25rem
    /* 4px */
  ;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-bg-opacity: 1;
  width: 60%;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
    /* #ffffff */
  ;
}

.botones {
  display: flex;
  justify-content: space-around;
}

.boton {
  width: 15%;
  height: 5vh;
  color: aliceblue;
  border-radius: 0.5rem
    /* 8px */
  ;
  margin-top: 10px;

}