<app-notifications></app-notifications>
<div class="container mx-auto px-4 py-6">

  <div *ngIf="pasoActual === 1">
    <div class="titulo-container">
      <h1>Modo de modelado</h1>
    </div>
    <!-- Paso 1: Formulario para generar área de desarrollo -->
    <div class="alto">

      <app-crear-decision [projectId]="projectId"></app-crear-decision>


      <button class="continuar" (click)="avanzarPaso()">Continuar</button>
    </div>
  </div>

  <div *ngIf="pasoActual === 2">
    <div class="titulo-container">
      <h1>Modo de modelado</h1>
    </div>

    <div class="table-container">
      <app-tabla-decisiones [projectId]="projectId"></app-tabla-decisiones>
    </div>

    <div class="flex justify-between mt-6">
      <button class="atras"
        (click)="retrocederPaso()">Atrás</button>
      <button class="avanzar"
        (click)="avanzarPaso()">Continuar</button>
    </div>
  </div>

  <div style="margin-top: 0;">
    <div *ngIf="pasoActual === 3">
      <div class="titulo-container ">
        <h1>Modo de modelado</h1>
      </div>


      <app-vinculos [projectId]="projectId"></app-vinculos>
      <div class="flex justify-between">
        <button class="atras"
        (click)="retrocederPaso()">Atrás</button>
        <button class="avanzar"
        (click)="avanzarPaso()">Continuar</button>
      </div>
    </div>

  </div>
  <div *ngIf="pasoActual === 4">
    <div class="titulo-container">
      <h1>Modo de modelado</h1>
    </div>

    <app-decision-check [projectId]="projectId"></app-decision-check>

    <div class="flex justify-between mt-6">
      <button class="atras"
      (click)="retrocederPaso()">Atrás</button>
      <button class="avanzar"
      (click)="avanzarPaso()">Continuar</button>
    </div>

  </div>

  <div *ngIf="pasoActual === 5">
    <div class="titulo-container">
      <h1>Modo de modelado</h1>
    </div>
    <!-- Paso 5: Muestra los grafos conectados -->
    <app-grafo [projectId]="projectId"></app-grafo>
    <div class="flex justify-between mt-6">
      <button class="atras"
        (click)="retrocederPaso()">Atrás</button>
        <button class="avanzar"
        (click)="getImportantStatusArea()">Continuar</button>
    </div>

  </div>

  <div *ngIf="pasoActual === 6">
    <div class="titulo-container diseño">
      <h1>Modo de diseño</h1>
    </div>
    <!--Paso 6:Aquí van las opciones de desarrollo-->
    <div class="overflow-x-auto overflow-y-auto mt-6">
      <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden" style="margin: auto;">
        <thead class="theaddiseño">
          <tr>
            <th class="py-4 px-6 text-left font-semibold text-sm">Área de decisión</th>
            <th class="py-4 px-6 text-left font-semibold text-sm">Opciones de decisión</th>
            <th class="py-4 px-6 text-left font-semibold text-sm">Rótulo</th>
            <th class="py-4 px-6 text-center font-semibold text-sm">Editar</th>
            <th class="py-4 px-6 text-center font-semibold text-sm">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let decision of areasSeleccionadas" class="border-b hover:bg-gray-100">
            <td class="py-4 px-6 text-sm text-gray-800">{{decision.nombre_area}}</td>
            <td class="py-4 px-6 text-sm text-gray-800">
              <ul class="space-y-2">
                <li *ngFor="let opcion of getOpcionesPorArea(decision.id!)" class="flex justify-between  border border-yellow-200  rounded-md mb-2 p-2 items-center">
                  <span>{{opcion.descripcion}}</span>
                  <button class="text-red-500 hover:text-red-700 font-semibold text-xs" (click)="deleteOpcion(opcion)">
                    Eliminar
                  </button>
                </li>
              </ul>
              <button class="mt-2 text-green-500 hover:text-green-800 font-semibold text-sm" (click)="abrirModal(decision)">
                Agregar Opción
              </button>
            </td>
            <td class="py-4 px-6 text-sm text-gray-800">{{decision.rotulo}}</td>
            <td class="py-4 px-6 text-center">
              <button class="mod"  (click)="abrirModalEditarDecision(decision)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon">
                  <path
                    d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                  <path
                    d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                </svg>
              </button>
            </td>
            <td class="py-4 px-6 text-center">
              <button class="elim" (click)="abrirModalEliminarDecision(decision)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon" >
                  <path fill-rule="evenodd"
                    d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
                    clip-rule="evenodd" />
                </svg>
              </button>
            </td>
          </tr>
              <!-- Modal para ingresar la descripción -->
              <div *ngIf="modalAbierto"
                class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
                <div class="modalabierto bg-white p-4 rounded shadow-lg">
                  <h2 class="text-xl text-center font-bold mb-4">Agregar descripción de la nueva opción</h2>

                  <label for="descripcion" class="block mb-2">Opción nueva:</label>
                  <input id="descripcion" type="text" [(ngModel)]="nuevaDescripcion" class="border p-2 w-full mb-4"
                    placeholder="Escribe la descripción">

                  <div class="flex  justify-center mt-1">
                    <button (click)="cerrarModal()" class= "elim bot">Cancelar</button>
                    <button (click)="agregarOpcion()" class="mod">Guardar</button>
                  </div>
                </div>
              </div>


                <!-- Modal para editar la descripción -->
                <div *ngIf="modalEditarDecisionAbierto"
                  class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
                  <div class=" modalabierto bg-white p-4 rounded shadow-lg">
                    <h2 class="text-xl text-center font-bold mb-4">Editar área de decisión</h2>

                    <label for="descripcion" class="block mb-2">Complete el código:</label>
                    <input id="rotulo" type="text" [(ngModel)]="decisionSeleccionada!.rotulo"
                      class="border p-2 w-full mb-4"
                      placeholder="{{ decisionSeleccionada?.rotulo || 'Escribe el código como ABC-DEF' }}">

                    <label for="descripcion" class=" block mb-2">Nombre del área:</label>
                    <input id="rotulo" type="text" [(ngModel)]="decisionSeleccionada!.nombre_area"
                      class="border p-2 w-full mb-4"
                      placeholder="{{ decisionSeleccionada?.nombre_area || 'Escribe el código' }}">


                    <div class="flex  justify-center mt-1">
                      <button (click)="cerrarModalEditarDecision()" class= "elim bot">Cancelar</button>
                      <button (click)="updateDecision(decisionSeleccionada!)" class="mod">Guardar</button>
                    </div>
                  </div>
                </div>

                <!-- Modal para eliminar la desición -->
                <div *ngIf="modalEliminarDecisionAbierto"
                  class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
                  <div class="bg-white p-4 rounded shadow-lg">
                    <h2 class="text-xl text-center font-bold mb-4">Eliminar</h2>

                    <label for="descripcion" class="block  mb-2">¿Está seguro de eliminar esta área de decisión?</label>


                    <div class="flex justify-center mt-1">
                      <button (click)="cerrarModalEliminarDecision()" class= "elim bot">Cancelar</button>
                      <button (click)="deleteDecision(decisionSeleccionada!)" class="mod">Aceptar</button>
                    </div>
                  </div>
                </div>
        </tbody>
      </table>


    </div>

    <div class="flex justify-between mt-6">
      <button class="atras"
        (click)="retrocederPaso()">Atrás</button>
        <button class="avanzar"
        (click)="avanzarPaso()">Continuar</button>
    </div>

  </div>


  <div *ngIf="pasoActual === 7">
    <div class="titulo-container diseño">
      <h1>Modo de diseño</h1>
    </div>
    <app-posibles-alternativas [projectId]="projectId"></app-posibles-alternativas>


    <div class="flex justify-between mt-6">
      <button class="atras"
        (click)="retrocederPaso()">Atrás</button>
        <button class="avanzar"
        (click)="avanzarPaso()">Continuar</button>
    </div>

  </div>

  <div *ngIf="pasoActual === 8">
    <!-- Paso 8: Próximo paso -->
    <div class=" comparacion">
      <h1>Modo de comparación</h1>
    </div>
    <app-modo-de-comparacion [projectId]="projectId"></app-modo-de-comparacion>


    <div class="flex justify-between mt-6">
      <button class="atras"
        (click)="retrocederPaso()">Atrás</button>
        <button class="avanzar"
        (click)="avanzarPaso()">Continuar</button>
    </div>

  </div>

  <div *ngIf="pasoActual === 9">
    <!-- Paso 9: Próximo paso -->
    <div class=" comparacion">
      <h1>Modo de comparación</h1>
    </div>
    <app-tabla-de-comparacion [projectId]="projectId"></app-tabla-de-comparacion>

    <div class="flex justify-between mt-6">
      <button class="atras"
        (click)="retrocederPaso()">Atrás</button>
        <button class="avanzar"
        (click)="avanzarPaso()">Continuar</button>
    </div>

  </div>

  <div *ngIf="pasoActual === 10">
    <!-- Paso 10: Próximo paso -->
    <div class=" selección">
      <h1>Modo de Selección</h1>
    </div>
      <app-tabla-de-seleccion [projectId]="projectId"></app-tabla-de-seleccion>

    <div class="flex justify-between mt-6">
      <button class="atras"
        (click)="retrocederPaso()">Atrás</button>
        <button class="avanzar"
        (click)="avanzarPaso()">Continuar</button>
    </div>

  </div>

  <div *ngIf="pasoActual === 11">
    <div class=" comparacion">
      <h1>Modo de comparación</h1>
    </div>
      <app-puntuaciones-minimas [projectId]="projectId"></app-puntuaciones-minimas>

    <div class="flex justify-between mt-6">
      <button class="atras"
        (click)="retrocederPaso()">Atrás</button>
        <button class="avanzar"
        (click)="avanzarPaso()">Continuar</button>
    </div>

  </div>

  <div *ngIf="pasoActual === 12">
    <div class="selección">
      <h1>Modo de selección</h1>
    </div>
      <app-eleccion [projectId]="projectId || ''"></app-eleccion>

    <div class="flex justify-between mt-6">
      <button class="atras"
        (click)="retrocederPaso()">Atrás</button>
        <button class="avanzar"
        (click)="avanzarPaso()">Continuar</button>
    </div>

  </div>

  <div *ngIf="pasoActual === 13">
      <!-- Paso 13: Próximo paso -->
      <div class=" selección">
        <h1>Fin del Proceso</h1>
      </div>
     <app-ultimopaso></app-ultimopaso>


      <div class="flex justify-between mt-6">
        <button class="atras"
        (click)="retrocederPaso()">Atrás</button>
          <button class="avanzar"
         (click)="recargarpagina()">Comenzar</button>
      </div>

  </div>

</div>
