<ng-container *ngIf="comparisonModes.length > 0">
  <div class="table-container">
    <table class="comparison-table" [style.--column-count]="comparisonModes.length">
      <thead>
        <tr>
          <th rowspan="2" class="opciones-column">Alternativas de Decisión</th>
          <th [attr.colspan]="comparisonModes.length" class="areas-header">Áreas de Decisión</th>
        </tr>
        <tr class="label-headers">
          <th *ngFor="let mode of comparisonModes; trackBy: trackByFn">
            {{ mode.label }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let path of paths; trackBy: trackByFn">
          <td class="opciones-column">{{ path.hexa }}</td>
          <td *ngFor="let mode of comparisonModes" class="area-cell">
            {{ getSymbolsForCell(path, parseInt(mode.id)) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
