

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  font-size: 45px;
  text-align: center;
  margin: 20px;
  font-family: "Rubik", sans-serif;

}
label{
  font-size: 1.8vh;
}
.fuente{
  font-size: 1.8vh;

}

/* Estilos para el select */
.custom-select {
  width: 100%;
  padding: 0.5rem 1rem; /* px-4 py-2 */
    border-radius: 0.75rem; /* rounded-lg */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
  transition: all 0.2s ease-in-out; /* transition duration-200 */
}

.custom-select:focus {
  outline: none; 
  min-width: 2px; 
  border-color: #ec9f10; 
}
.custom-select-option {
  background-color: #ff99000c; 
  color: #374151;
  padding: 0.5rem 1rem; /* Espaciado adecuado */
  border-radius: 0.25rem; /* Bordes redondeados en las opciones */
  transition: background-color 0.3s, color 0.3s; /* Transición suave en el hover */
}
