
<div class="decision-tree-container" *ngIf="decisionTree.length">
  <div class="area-titles">
    <ng-container *ngFor="let area of getUniqueAreas()">
      <div class="area-title">{{ area }}</div>
    </ng-container>
    <div class="area-title">Opciones</div>
  </div>

  <div class="decision-tree">
    <ng-container *ngFor="let node of decisionTree">
      <div class="decision-area">
        <div class="options-container">
          <ng-container *ngFor="let option of node.options">
            <div class="option-group">
              <div class="option-item">
                <label>{{ option.text }}</label>
                <div class="connector-line" *ngIf="option.children"></div>
              </div>
              <div class="children-container" *ngIf="option.children">
                <ng-container *ngTemplateOutlet="recursiveTree; context: { $implicit: option.children, parentPath: [option.id] }">
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>


<ng-template #recursiveTree let-nodes let-parentPath="parentPath">
  <ng-container *ngFor="let node of nodes">
    <div class="decision-area">
      <div class="options-container">
        <div class="option-group" *ngFor="let option of node.options">
          <div class="option-item" [class.last-area-item]="option.isLastArea">
            <ng-container *ngIf="option.isLastArea; else regularOption">
              <div class="last-area-content">
                <div class="option-name">{{ option.text }}</div>
                <div class="option-controls">
                  <input type="checkbox"
                    [(ngModel)]="option.selected"
                    (change)="onOptionSelected(option, parentPath.concat(option.text))">
                  <div class="option-hex-code">{{ generateHexCode(option.text) }}</div>
                </div>
              </div>
            </ng-container>
            <ng-template #regularOption>
              <label>{{ option.text }}</label>
              <div class="connector-line" *ngIf="option.children"></div>
            </ng-template>
          </div>
          <div class="children-container" *ngIf="option.children">
            <ng-container *ngTemplateOutlet="recursiveTree; context: { $implicit: option.children, parentPath: parentPath.concat([option.text]) }">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
