<nav class="navbar navbar-light bg-light">
  <div class="container d-flex justify-content-between align-items-center">
    <a href="/" class="navbar-brand">
      SCA App
    </a>
    <!-- <div class="navbar-buttons">
      <button class="btn btn-primary" routerLink="/" routerLinkActive="active">Home</button>
      <button class="btn btn-primary" routerLink="/about" routerLinkActive="active">About</button>
      <button class="btn btn-primary" routerLink="/contact" routerLinkActive="active">Contact</button>
    </div> -->
  </div>
</nav>
